# Local Terraform directories and cache
.terraform/
.terraform.*

# Local state files (if generated accidentally)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.log.*       

# Variables files containing sensitive data
*.tfvars
!*.tfvars.example  
.env

modules/lambda/app.zip

# Python cache
__pycache__/
*.py[cod]
*.egg-info/        

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db         